<div class="post-wrapper py-2 px-2" style="border: 1px solid #333639">
  <div class="mb-2 header d-flex align-items-center justify-content-between">
    <section class="user-info d-flex align-items-center gap-2">
      <div style="width: 30px; height: 30px" class="logo-img poistion-relative">
        <div class="image-wrapper">
          <span class="logo">{{ logo }}</span>
        </div>
      </div>
      <div class="username">{{ username }}</div>
      <span>{{ createdAt | date : "mediumDate" }}</span>
    </section>

    <i style="cursor: pointer" class="more pi pi-ellipsis-h"></i>
  </div>
  <div class="post-content">{{ post.content }}</div>

  <div class="footer mt-2">
    <ul
      class="actions list-unstyled d-flex justify-content-between align-items-center"
    >
      <li>
        <a>
          <i class="pi pi-comment"></i>
          <span>54</span>
        </a>
      </li>
      <li>
        <a>
          <i class="fa-solid fa-repeat"></i>
          <span>54</span>
        </a>
      </li>
      <li>
        <a>
          <i class="pi pi-heart"></i>
          <span>0</span>
        </a>
      </li>
      <li>
        <a>
          <i class="pi pi-chart-bar"></i>
          <span>54</span>
        </a>
      </li>
      <li>
        <a>
          <i class="pi pi-bookmark book"> </i>
        </a>
        <a>
          <i class="pi pi-upload share"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
