$main-transition: all 0.4s ease-in-out;
$posts-details-button-background: rgb(29, 155, 240, 0.2);
$posts-details-button-color: rgb(29, 155, 240);
ul {
  padding: 0;
  margin: 0;
}

i,
li span {
  transition: $main-transition;
  border-radius: 50%;
  padding: 8px;
  color: #71767b;
}

.more:hover {
  background-color: $posts-details-button-background;
  color: $posts-details-button-color;
}

ul.actions {
  li {
    // First link
    &:nth-child(1) a:hover,
    &:nth-child(4) a:hover {
      i {
        background-color: $posts-details-button-background;
        color: $posts-details-button-color;
      }
      span {
        color: $posts-details-button-color;
      }
    }

    // Second link
    &:nth-child(2) a:hover {
      i {
        background-color: rgb(0, 128, 0, 0.3);
        color: green;
      }
      span {
        color: green;
      }
    }

    // Third link
    &:nth-child(3) a:hover {
      i {
        background-color: rgb(255, 0, 0, 0.2);
        color: red;
      }
      span {
        color: red;
      }
    }
    &:nth-child(5) a {
      i.book:hover {
        background-color: $posts-details-button-background;
        color: $posts-details-button-color;
      }
      i.share:hover {
        background-color: $posts-details-button-background;
        color: $posts-details-button-color;
      }
    }
  }
}
