<div class="row">
  <div class="col-12">
    <section class="header">
      <span class="p-1">
        <i routerLink="/home" class="pi pi-arrow-left"></i>
      </span>
      <div class="user-info">
        <h2>{{ username }}</h2>
        <span class="posts">{{ posts }} posts</span>
      </div>
    </section>
  </div>
  <div class="col-12 profile-info">
    <div class="img-upper-side"></div>

    <div class="profile-image">
      <div class="wrraper">
        <span class="logo">
          {{ LogoChar }}
        </span>
      </div>
    </div>
    <span
      style="
        position: absolute;
        right: 20px;
        top: 205px;
        color: #eff3f4;
        font-weight: 700;
        border-radius: 20px;
        line-height: 20px;
        font-size: 15px;
        border: 1px solid #646363;
        padding: 3px 10px;
      "
      ><a (click)="showDialog()">Edit Profile</a></span
    >
    <div class="img-bottom-side">
      <section class="user-details">
        <h5>{{ name }}</h5>
        <p>{{ username }}</p>
        <p class="mt-1">
          <i class="pi pi-calendar"></i>
          Joined {{ createdAt | date : "mediumDate" }}
        </p>
      </section>
    </div>
    <div class="follow">
      <a
        ><span>{{ following }}</span> Following
      </a>
      <a
        ><span>{{ followers }}</span> Following
      </a>
    </div>
    <ul class="links mt-1">
      <li><a>Posts</a></li>
      <li><a>Replies</a></li>
      <li><a>Media</a></li>
      <li><a>Links</a></li>
    </ul>
  </div>
</div>

<div class="actions">
  <h1>Let’s get you set up</h1>
</div>
<!--Start Edit Profile Dialog -->
<p-dialog
  [modal]="true"
  header="Edit your profile"
  [(visible)]="visible"
  [style]="{ width: '30rem' }"
  [breakpoints]="{ '921px': '75vw', '575px': '90vw' }"
>
  <!-- <app-loading class="offset-5"></app-loading> -->
  <form #form="ngForm" class="offset-2" (ngSubmit)="onSubmit(form)">
    <div class="mt-1 d-flex" styleClass="dialog-content">
      <p-floatLabel class="mb-3">
        <input
          pInputText
          name="name"
          id="name"
          ngModel
          minlength="1"
          maxlength="20"
          required
        />
        <label for="name">Name</label>
      </p-floatLabel>
    </div>
    <p-floatLabel>
      <textarea id="float-input" rows="2" cols="30" pInputTextarea> </textarea>
      <label for="float-input">Summary</label>
    </p-floatLabel>
    <p-floatLabel>
      <input
        pInputText
        name="name"
        id="name"
        ngModel
        minlength="1"
        maxlength="20"
        required
      />
      <label for="name">Location</label>
    </p-floatLabel>
    <p-floatLabel>
      <input
        pInputText
        name="name"
        id="name"
        class="mt-1 mb-1"
        ngModel
        minlength="1"
        maxlength="20"
        required
      />
      <label for="name">Website</label>
    </p-floatLabel>
    <div class="mt-2">
      <p>
        <span class="fw-bold"> BirthDate . </span>
        <span style="color: #1677b8"
          ><a (click)="toggleDateMode()">{{
            showDate ? "Cancel" : "Edit"
          }}</a></span
        >
      </p>
      <p class="" *ngIf="birthDate">{{ date }} | date : "mediumDate"</p>
    </div>
    <div class="form-group mb-2 d-flex" *ngIf="showDate">
      <input type="date" class="form-control" />
    </div>
    <button
      style="display: block; width: 18rem"
      type="button"
      class="btn btn-light"
      type="submit"
    >
      Save
    </button>
  </form>
</p-dialog>
<!--End Edit Profile Dialog -->
