<div class="sidebar-wrapper">
  <div class="logo">
    <img class="img-fluid" src="../../../assets/x-logo.png" alt="" />
  </div>
  <div class="links" style="display: block">
    <a>
      <i></i>
      <span>Home</span>
    </a>
    <a>
      <i></i>
      <span>Explore</span>
    </a>
    <a>
      <i></i>
      <span>Notifications</span>
    </a>
    <a>
      <i></i>
      <span> Messages</span>
    </a>
    <a>
      <i></i>
      <span> Grok </span>
    </a>
    <a>
      <i></i>
      <span> Communities </span>
    </a>
    <a>
      <i></i>
      <span> Premium </span>
    </a>
    <a>
      <i></i>
      <span> Profile </span>
    </a>
    <a>
      <i></i>
      <span> More </span>
    </a>
  </div>
  <button
    style="
      width: 70%;
      padding: 10px 15px;
      background-color: rgb(29, 155, 240);
      transition-duration: 0.2s;
      min-width: 52px;
      min-height: 52px;
      cursor: pointer;
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-style: solid;
      color: white;
      font-weight: bold;
    "
    class="btn btn-primary mt-5"
  >
    Post
  </button>
</div>
