.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  .logo {
    padding-top: 15px;
    img {
      width: 50px;
      padding: 0 10px;
    }
  }
  .links {
    padding-top: 11px;

    .links > div {
      transition: 0.2s;
      padding: 20px;
      margin-bottom: 5px;
      width: fit-content;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      font: {
        weight: 400;
        size: 20px;
      }
      border-radius: 10px;
      -webkit-border-radius: 10px;
      line-height: 24px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: fit-content;
      padding: 11px 10px;
      border-radius: 15px;
      font-weight: 700;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      font-size: 20px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      i {
        margin-right: 10px;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
  .links > div:hover a {
    background-color: rgb(46, 45, 45, 0.5);
    color: white;
  }
}

@media (max-width: 768px) {
  .links {
    a span {
      display: none;
      // opacity: 0;
    }
    button .btn {
      display: none;
      opacity: 0;
    }
  }
  button {
    display: none;
    opacity: 0;
  }
}
