<div class="sidebar-wrapper">
  <div class="logo">
    <img class="img-fluid" src="../../../assets/x-logo.png" alt="" />
  </div>
  <ul class="links">
    <li>
      <a>
        <i class="pi pi-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a>
        <i class="pi pi-search"></i>
        <span>Explore</span>
      </a>
    </li>

    <li>
      <a>
        <i class="pi pi-bell"></i>
        <span>Notifications</span>
      </a>
    </li>
    <li>
      <a>
        <i class="pi pi-envelope"></i>
        <span> Messages</span>
      </a>
    </li>

    <li>
      <a>
        <i class="pi pi-users"></i>
        <span> Communities </span>
      </a>
    </li>

    <li>
      <a>
        <i class="pi pi-user"></i>
        <span> Profile </span>
      </a>
    </li>
    <li>
      <a>
        <i class="pi pi-ellipsis-h"></i>
        <span> More </span>
      </a>
    </li>
  </ul>
  <button
    style="
      width: 70%;
      padding: 10px 15px;
      background-color: rgb(29, 155, 240);
      transition-duration: 0.2s;
      min-width: 52px;
      min-height: 52px;
      cursor: pointer;
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-style: solid;
      color: white;
      font-weight: bold;
    "
    class="btn btn-primary mt-5"
  >
    Post
  </button>
  <button
    class="mt-5 rounded-5 py-4 border-0"
    style="
      min-width: 52px;
      min-height: 52px;
      background-color: rgb(29, 155, 240);
    "
  >
    <div class="logo"></div>
    <div class="user-info"></div>
    <div class="icon">
      <i></i>
    </div>
  </button>
</div>
