.container-div {
  padding-right: 15px;
  padding-left: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  gap: 16px;
}

@media (min-width: 761px), (max-width: 991px) {
  .container-div {
    width: 970px;
    padding: 0 1px;
    display: grid;
    grid-template-columns: auto 3fr;
  }
}
@media (max-width: 760px) {
  .container-div {
    width: 970px;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
@media (min-width: 992px) {
  .container-div {
    width: 970px;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
  }
}

/* Small */
// @media (min-width: 768px) {
//   .container-div {
//     width: 760px;
//   }
// }
/* Medium */
@media (min-width: 761px) {
  .container-div {
    width: 970px;
  }
}
// /* Large */
@media (min-width: 1200px) {
  .container-div {
    width: 1200px;
  }
}
